@model QuanLyBanGiayASP.Models.ViewModels.OrderDetailViewModels
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@using QuanLyBanGiayASP.Extensions;
@using QuanLyBanGiayASP.Utility;
@using QuanLyBanGiayASP.Models.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    double tong = 0;
    int dem = 1;
    string total = "";
}
@if (User.IsInRole(SD.Customer))
{
    <div class="container">
        <div class="row">

            <div class="col-12">
                @if (Model.Products.Count > 0)
                {

                    <table class="table table-striped" width="100%" style="border:0.4px solid black">
                        <tr class="table-info">
                            @*<th style="text-align:center; width:20%"></th>*@
                            <th style="text-align:center;">
                                <label>STT</label>
                            </th>
                            <th style="text-align:center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th style="text-align:center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>
                            <th style="text-align:center;">
                                <label>Amount</label>
                            </th>
                            <th style="text-align:center;">
                                <label>Thanh Tien</label>
                            </th>
                            <th style="text-align:center;"></th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {

                            <tr style="padding:50px;">
                                <td style="text-align:center">
                                    @dem
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Name)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Model.Order.OrderItems.Where(a => a.OrderID == Model.Order.ID && a.ProductID == item.ID).Select(a => a.Amount).FirstOrDefault()
                                </td>
                                <td style="text-align:center">
                                    @Model.Order.OrderItems.Where(a => a.OrderID == Model.Order.ID && a.ProductID == item.ID).Select(a => a.tongtien).FirstOrDefault()
                                    @{

                                        tong = tong + Model.Order.OrderItems.Where(a => a.OrderID == Model.Order.ID && a.ProductID == item.ID).Select(a => a.tongtien).FirstOrDefault();
                                        total = tong.ToString();
                                    }
                                </td>


                                <td style="text-align:center">
                                </td>

                            </tr>
                            dem += 1;
                        }
                    </table>
                }

                
                else
                {
                <div>No items added to the shopping cart...</div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-6">
                @if (Model.Products.Count > 0)
                {

                    <table class="table table-striped" width="100%" style="border:0.4px solid black">
                        <tr class="table-info">
                            @*<th style="text-align:center; width:20%"></th>*@
                            <th style="text-align:center;">
                                <label>STT</label>
                            </th>
                            <th style="text-align:center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th style="text-align:center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>
                            <th style="text-align:center;">
                                <label>Amount</label>
                            </th>
                            <th style="text-align:center;">
                                <label>Thanh Tien</label>
                            </th>
                            <th style="text-align:center;"></th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {

                            <tr style="padding:50px;">
                                <td style="text-align:center">
                                    @dem
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Name)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Model.Order.OrderItems.Where(a => a.OrderID == Model.Order.ID && a.ProductID == item.ID).Select(a => a.Amount).FirstOrDefault()
                                </td>
                                <td style="text-align:center">
                                    @Model.Order.OrderItems.Where(a => a.OrderID == Model.Order.ID && a.ProductID == item.ID).Select(a => a.tongtien).FirstOrDefault()
                                    @{

                                        tong = tong + Model.Order.OrderItems.Where(a => a.OrderID == Model.Order.ID && a.ProductID == item.ID).Select(a => a.tongtien).FirstOrDefault();
                                        total = tong.ToString();
                                    }
                                </td>


                                <td style="text-align:center">
                                </td>

                            </tr>
                            dem += 1;
                        }
                    </table>
                }
                else
                {
                    <div>No items added to the shopping cart...</div>
                }


            </div>
        </div>
    </div>

}

